<app-navbar></app-navbar>
<div class="container"> 
    <ul class="list-group col-md-3">
        <li class="list-group-item bg-dark">
          <span class="tag tag-default tag-pill float-xs-right"></span>
            Действия
        </li>
        <!--li class="list-group-item">
          <a class="tag tag-default tag-pill float-xs-right" (click)="a">
            Редактировать данные
          </a>
        </li-->
        <!--li class="list-group-item">
          <a class="tag tag-default tag-pill float-xs-right" (click)="showAddNewGiftPopup()">
            Добавить подарок
          </a>
        </li-->
        <li class="list-group-item">
          <a class="tag tag-default tag-pill float-xs-right" (click)="showAddNewHolidayPopup()">
            Добавить новое событие
          </a>
        </li>
        <li class="list-group-item">
          <a class="tag tag-default tag-pill float-xs-right" (click)="DeletePerson()">
            Удалить друга
          </a>
        </li>
      </ul>

  <div class="col-md-9">
      <div class="profile">
        <div class="userInfo">
          <div  class="col-sm-offset-1 col-sm-3">
            <img id='userImg' src="{{person.imageUrl}}" >
          </div>
          <div class="col-md-offset-1 col-md-5">
            <div>
                <h3 class='data'>{{person.name}}</h3>

                <h3 class='data'>{{person.birthday | date}}</h3>  
            </div>
          </div> 
        </div>     
      </div>    
  <tabset>      
      <tab title="События" [active]="true">
          <div class="list-group holidays">
              <ul class="list-group">
                  <li class="list-group-item" *ngFor="let holiday of person.holidays">
                    <span class="tag tag-default tag-pill float-xs-right" (click)="showOrHideGiftsOfHoliday(holiday)">
                      {{holiday.name}} 
                    </span>
                    <span class="dropdown float-xs-right  navbar-right"  dropdown > 
                      <a dropdown-open  class="holiday-menu" >Действие<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <!--li (click)="y"><a>Редактировать</a></li>
                        <li class="divider"></li-->
                        <li (click)="DeleteHoliday(holiday)"><a>Удалить</a></li>                      
                      </ul>
                    </span>
                      <div class="holiday-gifts" *ngIf="holiday.gifts.length !=0" >
                        <gift-card *ngFor="let gift of holiday.gifts" [gift]="gift" [type]="'holiday-gift'"  [person]="person"></gift-card>                      
                      </div>
                  </li>

                  <div class="col-md-offset-1" *ngIf="person.holidays.length === 0" >
                      <h1>Нет событий</h1>
                  </div>                 
                
              </ul>
          </div>
      </tab>
      <tab title="Подарки">
        <div class="">
          <p *ngFor="let gift of person.gifts">
            <gift-card [gift]="gift" [type]="'person-gift'"  [person]="person"></gift-card>
          </p>
          <div class="col-md-offset-1" *ngIf="person.gifts.length === 0" >
              <h1>Нет подобранных подарков</h1>
          </div>
      </div>

      </tab>
  </tabset>
</div>
</div>




<popup  #popup3 (confirmClick)="addNewHolidayEvent()">
    <div> 
      <div>      
        <div class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="holiday-name" class="col-lg-4 control-label">Название события</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputDefault" placeholder="Название события" [(ngModel)]="newHoliday.name">
              </div>
            </div>
            <div class="form-group">
              <label for="inputDefault" class="col-md-offset-1 col-md-3 control-label">Дата события</label>
              <div class="col-md-7"  id="date">
                <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    
  </popup>





<popup  #popup4 (confirmClick)="addNewGiftEvent()">
  <div> 
    <div>      
      <div class="form-horizontal">
        <fieldset>
          <div class="form-group block img-block col-md-offset-3 col-md-12">
            <div  class=" col-md-offset-1 col-md-2 gift-img">
              <img id='image' src="{{newGift.imageUrl}}">
            </div>
            <div class="col-md-8">
              <div class="img_upload">
                  <div class="img-label">Изменить картинку</div>
                  <input type="file" (change)="uploadFile($event)">                  
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="holiday-name" class="col-lg-4 control-label">Название подарка</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Название подарка" [(ngModel)]="newGift.name">
            </div>
          </div>
          <div class="form-group">
            <label for="holiday-name" class="col-lg-4 control-label">Стоимость подарка</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Стоимость подарка" [(ngModel)]="newGift.price">
            </div>
          </div>
          <div class="form-group">
            <label for="holiday-name" class="col-lg-4 control-label">Ссылка на сайт подарка</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Ссылка на сайт подарка" [(ngModel)]="newGift.href">
            </div>
            <div class="col-lg-offset-4 col-lg-8">
              (если есть)
            </div>
          </div>          
        </fieldset>
      </div>
    </div>
  </div>  
</popup>