<div class="col-sm-3 col-md-3 gift"  (mouseenter)="onMouseenter($event)" (mouseleave)="onMouseleave($event)">
  <div class="thumbnail col-md-11">
    <div class="gift-container" routerLink='/gift/{{gift.id}}' >
      <img id="gift-img" src="{{gift.imageUrl}}" alt="">
      <br>
      <div *ngIf="!active" class="col-md-offset-1">
        <h5 id="gift-name">{{gift.name}}</h5>  
        <div class="col-sm-offset-6">
          <h6 id="gift-name">{{gift.price}} руб.</h6>  
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="(active)&&(type == 'favorites')" class="col-sm-offset-1" style="margin-bottom: 25px">
      <button class="btn btn-info btn-sm btn-sm-2" (click)="deleteFromFavorites() ">Удалить</button>      
      <br>
      <br>
      <button class="btn btn-info btn-sm btn-sm-1" (click)="showAddGiftToPersonPopup()">Добавить другу</button>
    </div>
    <div *ngIf="(active)&&(type == 'person-gift')" class="col-sm-offset-1" style="margin-bottom: 25px">
      <button class="btn btn-info btn-sm btn-sm-2" >Удалить</button>      
      <br>
      <br>
      <button class="btn btn-info btn-sm btn-sm-1" (click)="showAddGiftToHolidayPopup()">К событию</button>
    </div>
    <div *ngIf="(active)&&(type == 'holiday-gift')" class="col-sm-offset-1" style="margin-bottom: 75px">
        <button class="btn btn-info btn-sm btn-sm-2">Удалить</button> 
      </div>
  </div>
</div>








<popup  #popup1  (confirmClick)="addGiftToPersonEvent()">
  <div  > 
    <div>      
      <div class="form-horizontal">
        <fieldset> 
          <div class="form-group">
            <label for="exampleSelect1">Выберете друга</label>
            <select class="form-control" id="exampleSelect1" (change)="changeSelectedPerson($event)">
              <option *ngFor="let person of people"  value="{{person.id}}" >{{person.name}}</option>                 
            </select>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</popup>


<popup  #popup2  (confirmClick)="addGiftToHolidayEvent()">
    <div  > 
      <div>      
        <div class="form-horizontal">
          <fieldset> 
            <div class="form-group">
              <label for="exampleSelect1">Выберете событие</label>
              <select class="form-control" id="exampleSelect1" (change)="changeSelectedHoliday($event)">
                <option *ngFor="let holiday of person.holidays" value="holiday.id" >{{holiday.name}}</option>                 
              </select>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </popup>

