<app-navbar></app-navbar>
<div class="container"> 
  <ul class="list-group col-md-3">
    <li class="list-group-item active">
      <span class="tag tag-default tag-pill float-xs-right"></span>
      Действия
    </li>
    <li class="list-group-item">
      <a class="tag tag-default tag-pill float-xs-right" (click)="addGiftToFavorites()">
        Добавить в избранное
      </a>
    </li>
    <li class="list-group-item">
      <a class="tag tag-default tag-pill float-xs-right" (click)="showAddGiftToPersonPopup()">
        Добавить другу 
      </a>
    </li>
  </ul> 
  <div class="col-md-9">
    <div class="info">
      <div  class="col-md-5 user-img">
        <img id='gift-img' src="{{gift['imageUrl']}}" >
      </div>
      <div class="col-md-offset col-md-6">
        <div>
            <h3 class='gift-data'>{{gift.name}}</h3>

            <h3 class='gift-data'>{{gift.price}} руб.</h3>
            <a  *ngIf="gift.href != ''" class="gift-data href" href={{gift.href}}>Перейти на сайт подарка</a>

        </div>
      </div>      
    </div>
    <div>
        {{gift.description}}
    </div>
  </div>
  
</div>




<popup  #popup1  (confirmClick)="addGiftToPersonEvent()">
  <div  > 
    <div>      
      <div class="form-horizontal">
        <fieldset> 
            <div class="form-group">
                <label for="exampleSelect1">Выберете друга</label>
                <select class="form-control" id="exampleSelect1" (change)="changeSelectedPerson($event)">
                  <option *ngFor="let person of people" value="{{person.id}}"  >{{person.name}}</option>                 
                </select>
              </div>
        </fieldset>
      </div>
    </div>
  </div>
  
</popup>