<app-navbar></app-navbar>
<div class="container"> 
  <tabset class=" col-md-12">      
      <tab title="Друзья" [active]="true">
        <ul class="list-group col-md-3">
          <li class="list-group-item active">
            <span class="tag tag-default tag-pill float-xs-right"></span>
            Действия
          </li>
          <li class="list-group-item">
            <a class="tag tag-default tag-pill float-xs-right" (click)="showAddNewPersonPopup()">
              Добавить нового друга
            </a>
          </li>
        </ul>
        <div class="list col-md-9">
          <div *ngFor="let person of people">
            <app-card [person]="person"></app-card>
          </div>

          <div class="col-md-offset-1" *ngIf="people.length === 0" >
              <h1>Нет друзей</h1>
          </div>
        </div>
      </tab>
      <tab title="Избранное" >
        <ul class="list-group col-md-3">
          <li class="list-group-item active">
            <span class="tag tag-default tag-pill float-xs-right"></span>
            Действия
          </li>
          <!--li class="list-group-item" (click)="showAddNewGiftPopup()">
            <a class="tag tag-default tag-pill float-xs-right" >
              Добавить подарок
            </a>
          </li-->
        </ul>
        <div class="list col-md-9">
          <div *ngFor="let gift of favorites">
            <gift-card [gift]="gift" [type]="'favorites'"  [person]="''"></gift-card>
          </div>
          <div class="col-md-offset-1" *ngIf="favorites.length === 0" >
              <h1>Нет подарков в избранное</h1>
          </div>
      </div>

    </tab>
  </tabset>
</div>






<popup  #popup1 (confirmClick)="addNewPersonEvent()">
  <div  > 
    <div>      
      <div class="form-horizontal">
        <fieldset>       
          <div class="form-group block img-block col-md-offset-3 col-md-12">
            <div  class=" col-md-offset-1 col-md-2 user-img">
              <img id='image' src="{{newPerson.imageUrl}}">
            </div>
            <div class="col-md-8">
              <div class="img_upload">
                  <div class="img-label">Изменить фото</div>
                  <input type="file" (change)="uploadFile($event, newPerson)">
                  
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-lg-3 control-label">Полное имя</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="inputDefault" placeholder="Полное имя" [(ngModel)]="newPerson.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDefault" class="col-md-offset-1 col-md-2 control-label">Дата рождения</label>
            <div class="col-md-7"  id="date">
              <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
            </div>
          </div>
          <!--div class="form-group">
            <label for="inputDefault" class="col-lg-3 control-label">Отношения</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="inputEmail" placeholder="Отношения" ([ngModel])="newPerson.role">
            </div>
            <div class="col-md-offset-3 col-lg-9">
                (мать, отец, брат, сестра, друг и т.д.)
              </div>
          </div-->
        </fieldset>
      </div>
    </div>
  </div>
  
</popup>




<popup  #popup4 (confirmClick)="addNewGiftEvent()">
  <div> 
    <div>      
      <div class="form-horizontal">
        <fieldset>
          <div class="form-group block img-block col-md-offset-3 col-md-12">
            <div  class=" col-md-offset-1 col-md-2 gift-img">
              <img id='image' src="{{newGift.imageUrl}}">
            </div>
            <div class="col-md-8">
              <div class="img_upload">
                  <div class="img-label">Изменить картинку</div>
                  <input type="file" (change)="uploadFile($event, newGift)">                  
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="holiday-name" class="col-lg-4 control-label">Название подарка</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Название подарка" [(ngModel)]="newGift.name">
            </div>
          </div>
          <div class="form-group">
            <label for="holiday-name" class="col-lg-4 control-label">Стоимость подарка</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Стоимость подарка" [(ngModel)]="newGift.price">
            </div>
          </div>
          <div class="form-group">
            <label for="holiday-name" class="col-lg-4 control-label">Ссылка на сайт подарка</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Ссылка на сайт подарка" [(ngModel)]="newGift.href">
            </div>
            <div class="col-lg-offset-4 col-lg-8">
              (если есть)
            </div>
          </div>          
        </fieldset>
      </div>
    </div>
  </div>  
</popup>