<app-navbar></app-navbar>
<div class="container">
  <div *ngIf="error"  class="alert alert-danger">
  {{error}}
  </div>
  <table class="table table-striped table-hover col-md-9">
      <thead>
        <tr>
          <th>Имя пользователя</th>
          <th>Права</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" 
          [ngClass]="{info:(user['role']==='admin'),
          danger:(user['blocked'])}">
          <td>{{user.login}}</td>          
          <td >
            <select class="form-control" (change)="changeUserRole($event.target.value, user)" [(ngModel)]="user['role']" id="select">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </td>
          <td >
            <div class="checkbox">
              <label>
                <input type="checkbox" (change)="changeUserBlocked(user)" [(ngModel)]="user['blocked']" > Заблокировать
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table> 
</div>