
<popup  #popup1 (confirmClick)="addNewPersonEvent()">

  <div  > 
    <div>      
      <div class="form-horizontal">
        <fieldset>       
          <div class="form-group block img-block col-md-offset-3 col-md-12">
            <div  class=" col-md-offset-1 col-md-2 user-img">
              <img id='user-image' src="http://res.cloudinary.com/dyzdll94h/image/upload/v1504852358/img_qm8t9t.jpg">
            </div>
            <div class="col-md-8">
              <div class="img_upload">
                  <div class="img-label">Изменить фото</div>
                  <input type="file" (change)="uploadFile($event)">
                  
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-lg-3 control-label">Полное имя</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="inputDefault" placeholder="Полное имя" ([ngModel])="newPerson.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDefault" class="col-lg-3 control-label">Отношения</label>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="inputEmail" placeholder="Отношения" ([ngModel])="newPerson.role">
            </div>
            <div class="col-md-offset-3 col-lg-9">
                (мать, отец, брат, сестра, друг и т.д.)
              </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  
</popup>