<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<div class="jumbotron">
  <div id="slider">
      <div class="slides">
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
                <h1>Net Financial Interaction</h1>
                <h2>NFI is your tool for creating and running a crowdfunding campaign. Realize your project with the help of supporters and public funds.</h2>
            </div>
          </div>
          <div class="image">
            <img src="http://res.cloudinary.com/dyzdll94h/image/upload/v1506335794/1_jiaglg.png">
          </div>
        </div>
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
              <h1>Net Financial Interaction</h1>
              <h2>NFI is your tool for creating and running a crowdfunding campaign. Realize your project with the help of supporters and public funds.</h2>
            </div>
          </div>
          <div class="image">
            <img src="http://res.cloudinary.com/dyzdll94h/image/upload/v1506334147/crowdfunding_knyway.png">
          </div>
        </div>
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
                <h1>Net Financial Interaction</h1>
                <h2>NFI is your tool for creating and running a crowdfunding campaign. Realize your project with the help of supporters and public funds.</h2>
            </div>
          </div>
          <div class="image">
            <img src="http://res.cloudinary.com/dyzdll94h/image/upload/v1506335792/crowdfunding_1_mrnaay.jpg">
          </div>
        </div>
        <div class="slider">
          <div class="legend"></div>
          <div class="content">
            <div class="content-txt">
                <h1>Net Financial Interaction</h1>
                <h2>NFI is your tool for creating and running a crowdfunding campaign. Realize your project with the help of supporters and public funds.</h2>
            </div>
          </div>
          <div class="image">
            <img src="http://res.cloudinary.com/dyzdll94h/image/upload/v1506335792/gde-kak-ispolzovat-kraudfanding-4_gq8itx.jpg">
          </div>
        </div>        
      </div>
      <div class="switch">
        <ul>
          <li>
            <div class="on"></div>
          </li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

  <!--<p>NFI is your tool for creating and running a crowdfunding campaign. Realize your project with the help of supporters and public funds.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>-->
</div>
